body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #2888bc;
    color: #0b0b0b;
    padding: 20px 0;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

header h1 {
    margin: 10px 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 0;
    max-width: 600px;
    margin: 10px auto;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #75d3f0;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #121213;
}

section p, section ul {
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #050505;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #007bff;
    color: #fff;
}
